--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
1	Administrador
2	Gerente
4	Cliente
3	Funcionario
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, email, password, role_id) FROM stdin;
10	admin	admin@admin	admin	1
14	lucas	lucas@lucas	lucas	2
15	jeff	jeff@jeff	jeff	3
20	pedro	pedro@pedro	pedro	4
22	jose	jose@jose	jose	2
\.


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name) FROM stdin;
2	roupa
5	livros
1	eletronicos
9	eltrodomesticos
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoices (id, total, date, user_id) FROM stdin;
10	87.00	2025-04-24	20
11	29.00	2025-04-24	20
12	29.00	2025-04-24	20
13	19.00	2025-04-24	20
14	29.00	2025-04-24	20
15	48.00	2025-04-24	20
16	32837.54	2025-04-26	20
17	439.45	2025-04-26	20
18	439.45	2025-04-26	20
19	782.45	2025-04-26	20
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, name, price, category_id, created_at, stock) FROM stdin;
10	bermuda	29.00	2	2025-04-23 14:00:39.072747	14
15	geladeira	4200.00	9	2025-04-24 17:58:06.532496	0
16	cal├ºa	49.00	2	2025-04-26 14:19:01.180141	3319
14	mouse	19.29	1	2025-04-24 17:55:29.809188	326
\.


--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.invoice_items (id, invoice_id, product_id, quantity) FROM stdin;
12	10	10	3
13	11	10	1
14	12	10	1
16	14	10	1
18	15	10	1
20	16	10	7
21	16	14	2
22	16	15	3
25	19	16	14
26	19	14	5
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (id, name) FROM stdin;
1	lucas
2	poedro
3	daniel
12	giulia
\.


--
-- Data for Name: purchase_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_history (id, supplier_id, product_id, purchase_date, quantity, price_per_unit) FROM stdin;
\.


--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receipts (id, invoice_id, total_paid, date) FROM stdin;
10	10	87.00	2025-04-24
11	11	29.00	2025-04-24
12	12	29.00	2025-04-24
13	13	19.00	2025-04-24
14	14	29.00	2025-04-24
15	15	48.00	2025-04-24
16	16	32837.54	2025-04-26
17	19	782.45	2025-04-26
\.


--
-- Data for Name: supplier_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_products (id, supplier_id, product_id) FROM stdin;
7	3	10
\.


--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 134, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 9, true);


--
-- Name: invoice_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoice_items_id_seq', 26, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoices_id_seq', 19, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 16, true);


--
-- Name: purchase_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_history_id_seq', 1, false);


--
-- Name: receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipts_id_seq', 17, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: supplier_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_products_id_seq', 10, true);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 12, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 22, true);


--
-- PostgreSQL database dump complete
--

